# Virtual Environment
ocr_env/
venv/
env/

# Dataset & Gambar
Data/Raw/
Data/Processed/
Data/Cropped/
Data/Augmented/
Data/Training/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# PaddleOCR Model Cache
.paddlex/
*.pdparams
*.pdopt
*.pdmodel
*.pdiparams
*.pdiparams.info

# Output Model Training
output/

# File Development
Src/Debug/

# VS Code
.vscode/

# Notebooks
Notebooks/

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Log Files
*.log

# Environment Variables
.env